<!DOCTYPE html> 
<html lang="ru">          
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script defer src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/front.js' %}"></script>
    <input type="hidden" id="dict" name="variable" value="{{ dict_div_comp }}">
    <input type="hidden" hidden="True" id="comp" name="variable" value="{{ choice_comp }}">
  </head>
  <body>
    <header>
    </header>
    <main>
        <div class="container py-5">
          <h3>
            Форма для вопросов на День Директора
          </h3>
          <style>
            .hidden {
                visibility: hidden;
            }
          </style>
          <form method="post" enctype="multipart/form-data" action="{% url 'form:question_create' %}">
            <div class="form-group row my-3 p-3">  
              <label>
                {{ form_cq.division.help_text }}
                <span class="required text-danger" >*</span>
              </label>
              <div onchange="get_comp()">
               {{ form_cq.division }}
              </div>
              <label>
                {{ form_cq.company.help_text }}
                <span class="required text-danger" >*</span> 
              </label>
              <div id="comp" onchange="new_comp()">
                {{ form_cq.company }}
              </div>
              <div id="new_comp" hidden="True">
                <label>
                  {{ form_cq.title.help_text }}
                  <span class="required text-danger" >*</span> 
                </label>
                {{ form_cq.title }}
              </div>
              <label>
                {{ form_cq.email.help_text }}
              </label>
              {{ form_cq.email }}
              <label>
              {{ form_cq.text.help_text }}
                <span class="required text-danger" >*</span>
              </label>
              {{ form_cq.text }}
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                Завершить опрос
              </button>
            </div>
          </form>
        </div>
    </main>
    <footer>
    </footer>
  </body>
</html> 