<!DOCTYPE html> 
<html lang="ru">          
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script defer src="{% static 'js/jquery.js' %}"></script>
    <script defer src="{% static 'js/front.js' %}"></script>
    <input type="hidden" id="dict" name="variable" value="{{ division_to_companies }}">
    <input type="hidden" hidden="True" id="comp" name="variable" value="{{ chosen_comp }}">
    <style>
      .hidden {
          visibility: hidden;
      }
      select2 {
        width: 60%;
      }

    </style>
  </head>
  <body>
    <header>
    </header>
    <main>
        <div class="container py-5">
          <h3>
            Форма для вопросов на День Директора
          </h3>
          <form method="post" enctype="multipart/form-data" action="{% url 'form:question_create' %}">
            <div class="form-group row my-3 p-3">  
              <label>
                {{ form_question.division.help_text }}
                <span class="required text-danger" >*</span>
              </label>
              <div onchange="set_companies()">
               {{ form_question.division }}
              </div>
              <label>
                {{ form_question.company.help_text }}
                <span class="required text-danger" >*</span> 
              </label>
              <form onchange="conpany_onchange()">
                {{ form_question.company }}
              </form>
              <div id="new_comp" hidden="True">
                <label>
                  {{ form_question.title.help_text }}
                  <span class="required text-danger" >*</span> 
                </label><br>
                {{ form_question.title }}
              </div>
              <label>
                {{ form_question.email.help_text }}
              </label>
              {{ form_question.email }}
              <label>
              {{ form_question.text.help_text }}
                <span class="required text-danger" >*</span>
              </label>
              {{ form_question.text }}
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                Завершить опрос
              </button>
            </div>
          </form>
        </div>
    </main>
    <footer>
    </footer>
  </body>
</html> 